@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cinzel:wght@400..900&family=Manrope:wght@200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* horror - cinzel */


.home{
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background: rgba(0,0,0,0.35) url(../../public/background.png)no-repeat center center/cover;
  background-blend-mode: darken;
}

@layer utilities {
  .animate-moveGradient {
    background: linear-gradient(90deg, #8b5cf6, #ec4899, #ef4444);
    background-size: 200% 100%;
    animation: gradientMove 2s linear infinite;
  }
}
